{
  "extends": "standard",
  "env": {
    "es6": true
  },
  "globals": {
    "pym": true,
    "mapboxgl": true,
    "INCIDENTS": true,
    "META": true
  },
  "rules": {
    "semi": 2,
    "no-var": 2
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
