.tooltip-body {
  max-width: 220px;
  overflow: auto;
  padding: 4px;

  .details {
    padding-bottom: 20px;
  }

  h3 {
    font-size: 16px;
    line-height: 22px;
  }

  h5 {
    margin: 0;
    margin-bottom: 6px;
    padding-bottom: 3px;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    color: #999;
    border-bottom: 1px solid #999;
  }

  p {
    span.key {
      font-weight: 300;
    }

    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
  }

  em.compare {
    color: $black;
    padding: 0 6px 6px 6px;
  }

  div.comparer-chart {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 22px 0;

    p {
      margin: 0 5px;
      line-height: 10px;
      font-size: 10px;
    }

    span {
      flex-grow: 1;
      position: relative;
      height: 10px;
      border: 1px solid $white;
      border-right-width: 0;

      &:last-of-type {
        border-right-width: 1;
      }

      &.curr-step::before {
        content: '▼';
        position: absolute;
        top: -15px;
        color: inherit;
      }

      &.curr-step::after {
        content: attr(data-curr);
        position: absolute;
        top: -20px;
        color: inherit;
        font-size: 0.8em;
        line-height: 1;
        min-width: 100%;
        margin-left: -50%;
      }

      &.ind-avg-step::before {
        content: '▲';
        position: absolute;
        bottom: -15px;
        color: $grey;
      }

      &.ind-avg-step::after {
        content: 'average';
        position: absolute;
        bottom: -20px;
        color: $grey;
        font-size: 0.8em;
        line-height: 1;
        margin-left: -50%;
      }

      &.ind-avg-step.curr-step::before {
        content: "▼" attr(data-curr);
        position: absolute;
        top: -15px;
        color: inherit;
      }

      &.ind-avg-step.curr-step::after {
        content: "▲ average";
        position: absolute;
        bottom: -15px;
        color: $grey;
      }
    }
  }
}

.mapboxgl-popup-content {
  max-height: 230px;
  overflow: scroll;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.3), 0 3px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
