@import './vendor/normalize';
@import './partials/colors';

$font: "ff-meta-serif-web-pro, Georgia, Times, Times New Roman, serif";
$lato: lato, Helvetica, sans-serif;

@import './partials/map';
@import './partials/tooltip';
@import './partials/table';
@import './partials/searchbar';

body {
  font-family: $font;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  color: #222;
  padding: 10px 0;
}

em {
  font-style: italic;
  color: #999;
  display: block;
}

a {
  color: #f38c21;
  text-decoration: none;
  line-height: inherit;
  word-break: break-all;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0 10px;
  }
}
