@import './vendor/normalize';
@import './partials/colors';

$font: "ff-meta-serif-web-pro, Georgia, Times, Times New Roman, serif";
$lato: lato, Helvetica, sans-serif;

body {
  font-family: $font;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
}

h3 {
  font-family: lato, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.5em;
}

#table {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 960px;
}

table {
  font-size: 14px;
  border-collapse: collapse;
	width: 100%;  
}

td, th { 
	padding: 4px; 
	border: none;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}

tr:hover{
  background-color: #f8f8f5;
  cursor: pointer;
}

th {  
  font-weight: 400;
  cursor: pointer;
  background: url(../images/arrow-sorters.svg) 6px center no-repeat;
  border-bottom: 2px solid #eee;
  background-size: 13px 13px;
  padding: 5px 5px 5px 22px;
  width: 11em;
  background-color: #fff;
}

th:hover {
  background-color: #eee;
}

th[data-sort-method='none']{
  background-image: none;
  padding-left:4px;
}

th[aria-sort=ascending] {
  background: url(../images/arrow-sorter-asc.svg) 6px center no-repeat;
  background-size: 7px 7px;
}

th[aria-sort=descending] {
  background: url(../images/arrow-sorter-desc.svg) 6px center no-repeat;
  background-size: 7px 7px;
}

#graphic {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-height: 300px;
  max-height: 90vh;
  margin-bottom: 60px;
}

#mapHolder {
  flex-grow: 1;
}

#map {
  display: flex;
  height: 100%;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

#source {
  margin-top: 4px;
  font-size: 14px;
  position: relative;
  top: -45px;
}

@media screen and (min-width: 700px) {
  #graphic {
    height: 56vw;
  }
}

@media screen and (max-width: 700px) and (min-width: 641px) {
  #graphic {
    height: 64vw;
  }
}

@media screen and (max-width: 640px) {
  #graphic {
    display: block;
    max-height: none;

    #mapHolder {
      height: 480px;
      max-height: 50vh;

      #map {
        display: block;
        margin: 8px;
        background-color: $white;
      }
    }

    #legend {
      #showAll {
        line-height: 1em;
        margin: 8px 0;
      }

      .legend__item {
        margin-bottom: 5px;
      }
    }
  }
}

em {
  font-style: italic;
  color: #999;
  display: block;
}
