@import './vendor/normalize';
@import './partials/colors';

$font: "ff-meta-serif-web-pro, Georgia, Times, Times New Roman, serif";
$lato: lato, Helvetica, sans-serif;

@import './partials/map';
@import './partials/table';

body {
  font-family: $font;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  overflow-x: hidden;
  color: #222;
}

#graphic {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  min-height: 300px;
  max-height: 90vh;
  margin-bottom: 60px;
}

#mapHolder {
  flex-grow: 1;
}

em {
  font-style: italic;
  color: #999;
  display: block;
}

a {
  color: #f38c21;
  text-decoration: none;
  line-height: inherit;
}