<section id="infobox">
  <div id="defaultInfo" class="tooltip-body">
    <p>Click on a circle on the map to see details about that warehouse.</p>
  </div>
  <div id="innerInfobox" class="tooltip-body"></div>
  <%= partial './partials/legend' %>
</section>
