<section id="mapHolder">
  <div id="loadingIcon">Loading...</div>
  <div id='map' class="invisible"></div>

</section>

<div id="maplegend">
  <div class="maplegend-body">
    <div>Total Recordable incident Rate(TRIR): </div>
    <div class="scales">
      <div>0</div>
      <% [*1..10].each do |i| %>
      <div class=<%="bg-cat-#{i}"%> ></div>
      <% end %>
      <div>27</div>
    </div>
        </div>
    <div class="default-legend">Warehouse with no data <span class="default-bg"></span> </div>

</div>
