<section id="searchBar" class='autocomplete-holder'>
    <input id="autocomplete"
      class='autocomplete' autocomplete='off'
      placeholder='Enter a facility code, city name, zip code or state'/>
</section>
