<h1>testing the embed</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore voluptate rem dolorem beatae illum expedita molestiae fuga tenetur placeat quaerat ea impedit libero mollitia pariatur unde, corporis maxime doloremque.</p>
<div id="amazon-injuries__graphic" style="border:1px solid red;margin:24px;"></div>
<script type="text/javascript">
new pym.Parent('amazon-injuries__graphic', './index.html');
</script>
